// Colors
$primary-background: #D8D8F6;
$highlight-color: #B18FCF;
$dark-font-color: #2C2C34;
$lighter-font-color: #494850;
$accent-color: #978897;
$lighter-background: lighten($highlight-color, 10%);
$darker-background: darken($highlight-color, 30%);

// Fonts
$main-font: 'Gayathri', sans-serif;


$picture-url: 'https://images.unsplash.com/photo-1460411794035-42aac080490a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80';
