// Colors
$primary-background: #D8D8F6;
$highlight-color: #B18FCF;
$dark-font-color: #2C2C34;
$lighter-font-color: #494850;
$accent-color: #978897;
// Fonts
$simple-font: sans-serif;
// $accent-font: ;



// $outer-border-width: 4px;
// $inner-border-width: 4px;